* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* .container {
  margin: 0 10%;
  font-family: 'Nunito', sans-serif;
  position: relative;
} */

body {
  background: #0d325a;
  font-family: 'Nunito', sans-serif;
}

header {
  margin: 0 10%;
  height: 70vh;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

nav::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  width: 10%;
  margin-right: 7%;
  padding-top: 15px;
}

.primomenu {
  float: left;
  width: 40%;
  margin-right: 13%;
}

.menubutton {
  float: right;
  width: 30%;
}

ul {
  margin-top: 25px;
  text-align: center;
}

li {
  display: inline-block;
  color: #818a91;
  font-size: 10px;
  margin-right: 10px;
}

a {
  color: white;
  text-decoration: none;
}

li .fakebutton {
  background-color: #7dba00;
  padding: 10px;
  border-radius: 5%;
  margin-right: 0;

}

li .fakebuttonlog {
  border: 1px solid white;
  padding: 10px;
}

.postnavbar {
  width: 100%;
  background-image: url("");
}

.headersx {
  float: left;
  width: 50%;
  display: inline-block;
  color: white;
}

.headerdx {
  display: inline-block;
  float: right;
  width: 50%;
  background-image: url();
}

h1 {
  padding: 10% 0;
}

/* SECTION */

section {
  /* background: white; */
  width: 100%;
  /* height: 30vh; */
}

section::after {
  content: "";
  display: table;
  clear: both;
}

h3 {
  color: #818a91;
}

.granderiga {
  float: left;
  height: 100px;
  width: 100%;
  background:#f9f9f9;
  text-align: center;
}

.granderiga::after {
  content: "";
  display: table;
  clear: both;
}

section.section2 {
  background: white;
  height: 70vh;
}

.treblocchi {
  background-color: white;
}

.treblocchi::after {
  content: "";
  display: table;
  clear: both;
}

.tresx {
  width: 30%;
  height: 100%;
  float: left;
  margin-right: 5%;
  padding: 5%;
}

.trecentro {
  width: 30%;
  height: 100%;
  float: left;
  margin-right: 5%;
  padding: 5%;

.tredx {
  width: 30%;
  height: 100%;
  float: left;
  padding: 5%;

}
